{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Flexer time tracker</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'flexer/css/main.css' %}"
        type="text/css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="app"></div>
    <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
    <script src="{% static 'flexer/js/main.js' %}"></script>
</body>
</html>
